.background{
    background-color: black;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /*justify-content: space-evenly;*/

}


/*================================image================================*/
.my-profile>.my-profile-img {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    margin: 20px 0 0 20px;
}

.my-profile-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-basis: 20%;

}

.img-my-friend1
,.img-my-friend2
,.img-my-friend3
,.img-my-friend4
,.img-my-friend5{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    margin: 0 0 0 20px;
}

.img-my-friend1>img
,.img-my-friend2>img
,.img-my-friend3>img
,.img-my-friend4>img
,.img-my-friend5>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-basis: 20%;

}
/*===================================================================*/
.my-profile
,.profile-friend1
,.profile-friend2
,.profile-friend3
,.profile-friend4
,.profile-friend5{
    display: flex;
    flex-basis: 15%;
    /*flex-direction: row;*/
}

.my-profile>.name{
    color: white;
    font-size: 15px;
    font-weight: bold;
    flex-basis: 60%;
    align-self: center;
    margin-left: 20px;
}
.name1
,.name2
,.name3
,.name4
,.name5{
    color: white;
    font-size: 15px;
    font-weight: bold;
    flex-basis: 60%;
    align-self: center;
    margin-left: 20px;
}
.nick_name{
    color : grey;
    font-size: 13px;
}
.change{
    color : blue;
    font-size: 15px;
    flex-basis:20%;
    font-weight: bold;
    align-self: center;
}


.menu{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 10px;
    flex-basis: 10%;
}
.recommend{
    font-size: 16px;
    color: grey;
    font-weight: bold;
    align-self: center;
}
.see_all {
    color: white;
    background-color: black;
    border: none;
}



.friends{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:60%;
    /*margin: 0 20px 0 10px;*/
    /*align-items: center;*/
}

.inform{
    flex-basis: 10%;
    font-size: 13px;
    color: dimgrey;
    /*align-self: center;*/
    margin : 0 20px 0 20px;

}
.tail{
    flex-basis: 5%;
    font-size: 13px;
    color: dimgrey;
    margin : 0 0 0 20px;
}
