html {
    /* background-color: #888;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px; */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAAB1JREFUGFdjZMACGEFiZ86c+Q+TMzExYSRREN1YAJGuDAahWS5eAAAAAElFTkSuQmCC) repeat;
}


.main {
    background-color: #A8C5D9;
    width: 500px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.main::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 93%;
    border: 2px dotted #ddd;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .main::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 88%;
    border-radius: 0.5em;
    background-color: #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
.main>.gray-main {
    position: absolute;
    width: 90%;
    height: 88%;
    border-radius: 0.5em;
    background-color: #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main>.gray-main>div {
    float: left;
    padding: 10px;
}

.main>.gray-main>.left {
    width: 30%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.252);
}
.join-count {
}
.main>.gray-main>.right {
    width: 70%;
    height: 100%;
    background-color: rgba(240, 255, 255, 0.243);
}

/* .main > .gray-main > div {
    float: left;
  }
  .main > div:first-child {
    width: 30%;
    height: 100%;
    background-color: red;
  }
  .main > div:last-child {
    width: 70%;
    height: 100%;
    background-color: aquamarine;
  } */