# NEXTAUTH
```
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32


```
# GITHUB
GITHUB_ID=7097317d1a8919023826
GITHUB_SECRET=499f9eb5ff9c30c705ff63509259dea190d19282
GITHUB_CALLBACK_URL=http://localhost:3000/
```
# JWT
JWT_SECRET=qwe123
```