<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="font.css">
  <link rel="stylesheet" href="article.css">
  <title>article</title>
</head>

<body>
  <article class="post">
    <div class="post-head">
      <div class="profile-row">
        <a href="#none" class="profile-link">
          <div class="profile-img w30 h30 instagram-border">
            <img
              src="https://www.random-name-generator.com/images/faces/female-white/13.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1"
              alt="">
          </div>
        </a>
        <div class="profile-txt">
          <a href="#none" class="profile-link">
            <div class="profile-id">s2ulkk</div>
          </a>
          <a href="#none" class="path-link">
            <div class="path">범어동</div>
          </a>
        </div>
      </div>
      <div class="post-head-menu">...</div>
    </div>
    <div class="post-img">
      <img
        src="https://mblogthumb-phinf.pstatic.net/MjAxOTAzMDZfMTk5/MDAxNTUxODE0NTI0Nzg4.LWs1r_p3xTGIzmOwYdrwDZo1sb1xmq0bT_uAM44UU28g.yZOfIhWQuuV3JM8zmyn89YfZ2OgLSJliMFs10wEcKVsg.JPEG.mong728/%25EC%25B4%2588%25EA%25B3%25A0%25ED%2599%2594%25EC%25A7%2588_%25EC%25BB%25B4%25ED%2593%25A8%25ED%2584%25B0_%25EB%25B0%25B0%25EA%25B2%25BD%25ED%2599%2594%25EB%25A9%25B4_(10).jpg?type=w800"
        alt="">
    </div>
    <div class="menu">
      <div class="left">
        <button class="icon i-heart"></button>
        <button class="icon i-popup-post"></button>
        <button class="icon i-message"></button>
      </div>
      <div class="right"><button class="icon i-bookmark"></button></div>
    </div>
    <div class="post-bottom">
      <div class="like-count">좋아요 32개</div>
      <div class="comment">
        <div class="comment-item"><span class="comment-item-id">s2ulkk</span><span class="comment-item-txt">열심히 보았구나
            후후후</span><input type="checkbox" name="" id="heart" class=""><label for="heart"></label></div>
        <div class="comment-item"><span class="comment-item-id">lolo</span><span class="comment-item-txt">이거 인간적으로 너무
            많은거 아니오...</span><input type="checkbox" name="" id="heart" class=""><label for="heart"></label></div>
      </div>
      <div class="elapsed">2일 전</div>
      <div class="add-comment"><button class="icon i-emoji"></button><input type="text" name="" id=""
          class="add-comment-txt" placeholder="댓글 달기..."><button class="add-comment-submit">게시</button>
      </div>
    </div>
  </article>
</body>

</html>