<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="font.css">
  <link rel="stylesheet" href="story-card.css">
  <title>Document</title>
</head>

<body>
  <section class="story-cards">
    <a href="#none" class="profile-link">
      <div class="profile-column">
        <div class="profile-img w50 h50 instagram-border">
          <img src="https://www.random-name-generator.com/images/faces/male-white/03.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1" alt="">
        </div>
        <div class="profile-txt">
          <div class="profile-id">hello</div>
        </div>
      </div>
    </a>
    <a href="#none" class="profile-link">
      <div class="profile-column">
        <div class="profile-img w50 h50 instagram-border">
          <img src="https://www.random-name-generator.com/images/faces/male-white/40.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1" alt="">
        </div>
        <div class="profile-txt">
          <div class="profile-id">hello</div>
        </div>
      </div>
    </a>
    <a href="#none" class="profile-link">
      <div class="profile-column">
        <div class="profile-img w50 h50 instagram-border">
          <img src="https://www.random-name-generator.com/images/faces/male-white/05.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1" alt="">
        </div>
        <div class="profile-txt">
          <div class="profile-id">hello</div>
        </div>
      </div>
    </a>
    <a href="#none" class="profile-link">
      <div class="profile-column">
        <div class="profile-img w50 h50 instagram-border">
          <img src="https://www.random-name-generator.com/images/faces/male-white/24.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1" alt="">
        </div>
        <div class="profile-txt">
          <div class="profile-id">hello</div>
        </div>
      </div>
    </a>
    <a href="#none" class="profile-link">
      <div class="profile-column">
        <div class="profile-img w50 h50 instagram-border">
          <img src="https://www.random-name-generator.com/images/faces/female-white/13.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1" alt="">
        </div>
        <div class="profile-txt">
          <div class="profile-id">hello</div>
        </div>
      </div>
    </a>
    <a href="#none" class="profile-link">
      <div class="profile-column">
        <div class="profile-img w50 h50 instagram-border">
          <img src="https://www.random-name-generator.com/images/faces/female-white/14.jpg?ezimgfmt=rs:98x95/rscb1/ng:webp/ngcb1" alt="">
        </div>
        <div class="profile-txt">
          <div class="profile-id">hello</div>
        </div>
      </div>
    </a>
  </section>
</body>

</html>