.winherit{width: inherit;}
.hinherit{height: inherit;}
.w30{width: 30px;}
.h30{height: 30px;}

.w50{width: 50px;}
.h50{height: 50px;}

.w100{width: 100px;}
.h100{height: 100px;}
.w250{width: 250px}
.h250{height: 250px;}
.w300{width: 300px;}
.h300{height: 300px;}
.w350{width: 350px;}
.h350{height: 350px;}
.w400{width: 400px;}
.h400{height: 400px;}
.w500{width: 500px;}
.h500{height: 500px;}
.w600{width: 500px;}
.h600{height: 600px;}