.background::before{
    width : 100vw;
    height : 100vh;
    content : "";
    background: black;
    position : absolute;
    top : 0;
    left: 0;
    z-index:-1;
    opacity: 0.3;
}

.card{
    width: 260px;
    height: 400px;
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 5px white;
    border-radius: 15px;
}

img{
    width : 230px;
    height: 180px;
    margin : 15px;
    object-fit: cover;
}

.card-word>h1{
    text-align: center;
    font-size: 16px;
    margin:0 10px 0 10px;
}
.card-word>h2{
    font-size : 14px;
    color:grey;
    margin: 10px 0 0 10px ;
}
.starpoint_wrap{
    display:inline-block;
}
.starpoint_box{
    position:relative;
    background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;
    font-size:0;
    margin: 10px 0 0 10px;
}
.starpoint_box .starpoint_bg{
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:18px;
    background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;
    pointer-events:none;
}
.starpoint_box .label_star{
    display:inline-block;
    width:10px;
    height:18px;
    box-sizing:border-box;
}
.starpoint_box .star_radio{
    opacity:0;
    width:0;
    height:0;
    position:absolute;
}
.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}

.blind{
    position:absolute;
    clip:rect(0 0 0 0);
    margin:-1px;
    width:1px;
    height: 1px;
    overflow:hidden;
}
.renew_number{
    margin: -15px 0 0 115px;
}
.price::before{
    content: '₩' ;
}
.price{
    margin: 10px 0 0 10px;
}
.sale{
    display: inline;
    font-size: 12px;
    background-color: #ef9a9a;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0 0 10px;
}

.card-back{
    width: 260px;
    height: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
}

.card:hover .card-back {
    background-color: black;
    color : white;
    height: 400px;
    width : 260px;
    position : absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    opacity: 0.8;
    display: block;
}

.back-word h1{
    position: absolute;
    text-align: center;
    font-size : 18px;
    margin : 25px 0px 0px 0px;
}
.back-word p{
    position : absolute;
    font-size : 14px;
    padding:5px;
    font-weight: normal;
    margin : 90px 0px 0px 0px;
}

.back-side{
    position: absolute;
    font-size : 13px;
    margin : 180px 0 0 20px;
}

.grade{
    list-style: none;
    padding-top: 5px;
}
.web-developer{
    list-style: none;
    padding-top: 5px;
}
.dev-tool{
    list-style: none;
    padding-top: 5px;
}

.icon{
    position: absolute;
    font-size : 20px;
    margin : 280px 0 0 220px;
}

.icon-heart{
    list-style: none;
    padding-top: 5px;
}
.icon-cart{
    list-style: none;
    padding-top: 5px;
}
.icon-plus{
    list-style: none;
    padding-top: 5px;
}
