.wrap {
  /* height: 1000vh; */
  position: relative;
}

.l-section {
  width: 100%;
  height: 93vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}
#slide3.l-section {
  padding: 70px 0;
  margin: 0;
}
.l-section:nth-of-type(1) {
  margin: 0;
  height: 87vh;
}
.l-content {
  width: 100%;
  /* height: inherit; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.l-content--slide {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.max-w-px-1200 {
  max-width: 1200px;
}
.l-content__title {
  display: block;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
.l-content__slide {
  display: block;
  width: 100%;
  height: 100%;
}

.l-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-sizing: border-box;
}
.l-header__content {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.c-logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.c-logo .c-img-box {
  width: 150px;
  height: 45px;
}
.c-img-box {
  box-sizing: content-box;
  overflow: hidden;
}
.c-img-box img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.l-gnb {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
.l-gnb__item {
}
.l-gnb__item:hover {}
.l-gnb__item > a {
  display: block;
  color: #000;
  padding: 50px 20px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.l-gnb__item > a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  background-color:#FAD949;
  height: 2px;
  transition: 0.5s;
}
.l-gnb_item:hover > a {
}
.l-gnb__item:hover > a::after {
  width: 100%;
}
.l-lnb {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  left: 0px;
  top: 124px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 50px 15%;
  transition: 0.5s;
  z-index: 1;
  background-color: #efefef;
  /* hover sizing */
  transform-origin: top;
  transform: scaleY(0);
}
.l-gnb__item:hover .l-lnb {
  transform: translate3d(0px, 0px, 0px);
  transform: scaleY(1);
}

/*모바일 구간*/
@media (max-width: 767px){
  .l-header {
    padding: 10px 30px;
    justify-content: space-between;
  }
  .l-gnb {
    /* display: none; */
    /* width: 0px; */
    width: 80%;
    min-width: 200px;
    /* height: 0px; */
    height: calc(100% - 65px);
    transition: 1s;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    top: 65px;
    right: -100%;
    padding-left: 50px;
    background-color: #fff;
  }
  .l-gnb.on {
    right: 0px;
  }
  .l-gnb__item {
    flex-direction: column;
  }
  .l-gnb__item > a,
  .l-gnb__item:hover > a {
    color: #FCC038;
    padding: 0px;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
  }
  .l-gnb__item .l-lnb {
    width: 100%;
    display: none;
    position: static;
    background-color: transparent;
  }
  .l-gnb__item:hover .l-lnb {
    display: block;
    justify-content: center;
  }

}




.c-card-short-list{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  /* max-width: 150px; */
}
.c-card-short {
  color: #000;
  font-weight: 300;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.c-card-short::after {
  content: '';
  background-color: #FAD949;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.4s;
}
.c-card-short.on {
  color: #FAD949;
}
.c-card-short.on::after {
  background-color: #FAD949;
  width: 120%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.c-card-list--nav {
  width: 100%;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
}
.c-card--nav {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  background: rgba( 204, 204, 204, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-backdrop-filter: blur( 4px );
  backdrop-filter: blur( 4px );
  border: 4px solid transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.c-card--nav.on {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border: 4px solid #FAD949;
}
.c-card--nav .c-img-box {
  width: 100%;
  /* height: 200px; */
  height: 100%;
  /* max-height: 200px; */
  /* aspect-ratio: 100 / 175; */
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -ms-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  border-radius: 0.7em;
}
.c-card--nav .c-img-box + .c-img-box__txt--inner {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #ccc;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.c-card--nav .c-img-box + .c-img-box__txt--inner {
  color: #FAD949;
}

@media (max-width: 767px){
  .c-card-short-list {
    width: 100%;
    justify-content: flex-end;
  }
  .c-card-short {
    display: block;
    width: 100%;
  }
  .c-card-list--nav {
    display: none;
  }
}

.t-tant-half--deer-blue::before {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, rgba(46,82,112,1) 0%, rgba(133,161,178,1) 83%, rgba(193,226,232,1) 100%);
  top: 0;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.l-content:nth-of-type(1) {
  /* gap: 100px; */
  overflow: hidden;
}
.l-content:nth-of-type(1) > .c-img-box {
  width: 100%;
  max-width: 400px;
  border-radius: 2em;
  aspect-ratio: 440/665;
}
.l-content:nth-of-type(1) > .c-img-box > img {
}
.l-content:nth-of-type(1) > .l-content__txt {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.l-content:nth-of-type(1) > .l-content__txt a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.l-content:nth-of-type(1) > .l-content__txt > h1 {
  color: #e7fcff;
  font-size: 60px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}
.l-content:nth-of-type(1) > .l-content__txt > p {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  gap: 10px;
}

.t-catalogue {
  background-image: url('http://dine.co.kr/img/main/banner_bg.jpg');
  background-color: #F5F5F5;
  background-size: contain;
  background-repeat: no-repeat;
}
.l-section.t-catalogue {
  max-height: 580px;
}
.t-catalogue .l-content {
  justify-content: flex-end;
}
.t-catalogue .l-content .l-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.t-catalogue .l-content .l-content--txt {
  display: flex;
  flex-direction: column;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: -5px;
  word-spacing: 10px;
}
.t-catalogue .l-content .l-content--link {
  /* float / flex 중에 flex를 선택한 것 뿐 */
  display: flex;
}
.t-catalogue .l-content .l-content--link a {
  color: #8E8E8E;
  border: 1px solid #8E8E8E;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.t-catalogue .l-content .l-content--link a:nth-of-type(2) {
  border-left: none;
}
.t-catalogue .l-content .l-content--link a>svg {
  color: #8E8E8E;
  fill: #8E8E8E;
  transition: 0.5s;
}
.t-catalogue .l-content .l-content--link a:hover {
  color: #000;
}
.t-catalogue .l-content .l-content--link a:hover > svg {
  fill: #000;
}


.l-section--promotion {

}
.l-section__content--promotion {
  display: flex;
  flex-direction: column;
}
.l-section__title--promotion {
  text-transform: uppercase;
  font-weight: 900;

}
.l-section__tab-list--promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.l-section__tab--promotion {
  border: 1px solid #ccc;  
  border-left: none;
  flex: 1;
  background-color: transparent;
  padding: 20px 0;
}
.l-section__tab--promotion:first-child {
  border: 1px solid #ccc;
}
.l-section__tab--promotion.on {
  border: 1px solid #000;
  border-left: none;
}
.l-section__tab--promotion:first-child.on {
  border: 1px solid #000;
}
.l-section__vidio-list--promotion {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
}
.l-section__vidio-list--promotion.on {
  display: flex;
  width: 100%;
}
.l-section__vidio--promotion {
  max-width: 30%;
}
.l-section__vidio--promotion .c-img-box{
  width: 100%;
  aspect-ratio: 445/250;
}
.l-section__vidio--promotion .c-img-box__txt{
  padding: 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.l-section__content--promotion > a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.l-section--quick {
  background: url('http://dine.co.kr/img/main/quick_menu_bg.jpg') no-repeat #000;
  max-height: 300px;
  margin-bottom: 0;
}
.l-section__content--quick {
  justify-content: flex-end;
}

.c-btn-quick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  gap: 20px;
  padding: 20px;
}

.he-box-line {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.he-box-line > span {
  width: 0px;
  height: 0px;
  background-color: #fff103;
  position: absolute;
  transition: 1s;
}
.he-box-line > span:nth-of-type(1) {top: 0px;left: 0px;}
.he-box-line > span:nth-of-type(2) {top: 0px;right: 0px;}
.he-box-line > span:nth-of-type(3) {bottom: 0px;left: 0px;transition-delay: 0.3s;}
.he-box-line > span:nth-of-type(4) {top: 0px;left: 0px;transition-delay: 0.3s;}
.he-box-line:hover > span:nth-of-type(1) {width: 100%;height: 1px;}
.he-box-line:hover > span:nth-of-type(2) {width: 1px;height: 100%;}
.he-box-line:hover > span:nth-of-type(3) {width: 100%;height: 1px;}
.he-box-line:hover > span:nth-of-type(4) {width: 1px;height: 100%;}

.l-section--search {
  max-height: 80px;
  margin: 0;
  padding: 60px 0;
  background-color: #FBF131;
}
.l-section__content--search {
  /* display: flex; */
  justify-content: space-between;
}
.l-section__txt--search {
}
.l-section__txt--search b {
  font-size: 30px;
  font-weight: 900;
}
.l-section__txt--search p {
  font-size: 20px;
  font-weight: 300;
}
.l-section__search--search {
  display: flex;
  max-width: 600px;
  width: 100%;
  gap: 10px;
}
.l-section__search--search input[type='text'] {
  width: 100%;
  border-bottom: 1px solid #000;
}
.l-section__search--search input[type='text']::placeholder {
  font-size: 1.0rem;
  color: #000;
}
.l-section__search--search button {
  min-width: 150px;
  background-color: #2D2D2D;
  color: #fff;
  padding: 10px 20px;
  text-transform: capitalize;
}
.l-section__search--search button::after {
  content: '';
  font-size: .8em;
  font-family: 'Material Icons Outlined';
  content: '\e8b6';
  margin-left: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-section--ftnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 50px 0;
}
.c-ftnav {
  flex: 3;
  font-size: 12px;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 100px;
}
.c-ftnav dl {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.c-ftnav dl dt {}
.c-ftnav dl dt a {color: #000;font-weight: 700;}
.c-ftnav dl dd {margin: 0;text-transform: uppercase;}
.c-ftnav dl dd a {color: #2D2D2D;}

.c-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 21em;
}
.c-info b {
  font-weight: 700;
  text-transform: capitalize;
}
.c-company {}
.c-company dt {
  width: 100%;
  font-weight: 700;
  text-transform: capitalize;
}
.c-company dd {
  flex: 1;
}
.c-company dd a {
  color: #2D2D2D;
  /* text-indent: 100%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.c-sns {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.c-sns dt {
  width: 100%;
  font-weight: 700;
  text-transform: capitalize;
}
.c-sns dd {
  flex: 1;
  /* width: 50px; */
}
.c-sns dd a {
  color: #000;
  /* width: 50px; */
}


.l-section--f-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 50px 0;
}
.l-section__content--f-bottom {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}