
.c-one-slide {width: inherit;height: inherit;position: relative;overflow: hidden;}

.c-one-slide__l-card {width: 100%;height: 100%;z-index: -1;top: 0;position: absolute;}
.c-one-slide__l-card.active {z-index: 0;}

/* 좌우 방향 화살표(다음 슬라이드) */
.c-one-slide__arrow-btn {}
.c-one-slide__arrow-btn.left {}
.c-one-slide__arrow-btn.right {}

/* 정방향 슬라이드 이동 버튼 */
.c-one-slide__btn-list--top {}
.c-one-slide__btn--top {}
.c-one-slide__btn--top.active {}
.c-one-slide__btn--top:hover {}
/* 세로로 슬라이드 이동 버튼 */
.c-one-slide__btn-list--right {}
.c-one-slide__btn--right {}
.c-one-slide__btn--right.active {}
.c-one-slide__btn--right:hover {}
/* 하단의 버튼 */
.c-one-slide__btn-list--under {}
.c-one-slide__btn--under {}
.c-one-slide__btn--under.active {}
.c-one-slide__btn--under.active::after {}
/* 사용자 임의 작성 버튼 */
.c-one-slide__btn-list--custom {}
.c-one-slide__btn--custom {}
.c-one-slide__btn--custom.active {}
.c-one-slide__btn--custom.active::after {}

/* 재생 및 정지 버튼 */
.c-one-slide__btn--pause {}
.c-one-slide__btn--play {}


#slide1 .c-one-slide__arrow-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

#slide1 .c-one-slide__arrow-btn.left {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#slide1 .c-one-slide__arrow-btn.right {
  /* border: 2px solid #fff; */
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#slide1 .c-one-slide__btn-list--right {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  bottom: 50%;
  /*border: 1px solid skyblue;
  */-webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
#slide1 .c-one-slide__btn--right {
  margin: 30px 0;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 10px;
  /* border: 1px solid skyblue; */
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#slide1 .c-one-slide__btn--right.active {
  background-color: #fcbe2c8f;
}
#slide1 .c-one-slide__btn--right:hover {
  text-shadow: 2px 2px 2px #fff;
}

#slide1 .c-one-slide__btn-list--under {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 10px;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

#slide1 .c-one-slide__btn--under {
  width: 5px;
  height: 5px;
  background-color: #eee;
  border: none;
  position: relative;
}

#slide1 .c-one-slide__btn--under.active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #eee;
  box-sizing: border-box;
  -webkit-transform: translate(-5px, -5px);
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  -o-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

#slide1 .c-one-slide__btn--pause {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 55%;
  bottom: 5%;
  background-color: transparent;
  border: none;
}
#slide1 .c-one-slide__btn--play {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 60%;
  bottom: 5%;
  background-color: transparent;
  border: none;
}
#slide1 .c-one-slide__btn-list--top {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#slide1 .c-one-slide__btn--top {
  margin: 30px 0;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 10px;
  /* border: 1px solid skyblue; */
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#slide1 .c-one-slide__btn--top.active {
  background-color: #fcbe2c8f;
}
#slide1 .c-one-slide__btn--top:hover {
  text-shadow: 2px 2px 2px #fff;
}


/* ----------------------slide3----------------------------- */
#slide3 .c-one-slide__l-card {
  width: inherit;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
#slide3 .c-one-slide__l-card.active {
  z-index: 0;
}

#slide3 .c-one-slide__btn-list--util {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide3 .c-one-slide__arrow-btn {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

#slide3 .c-one-slide__arrow-btn.left {}
#slide3 .c-one-slide__arrow-btn.right {}

#slide3 .c-one-slide__btn-list--under {display: flex;flex-direction: row;gap: 10px;}

#slide3 .c-one-slide__btn--under {
  width: 5px;
  height: 5px;
  background-color: #000;
  border: none;
  position: relative;
}
#slide3 .c-one-slide__btn--under.active {background-color: #000;}

#slide3 .c-one-slide__btn--under.active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  box-sizing: border-box;
  -webkit-transform: translate(-5px, -5px);
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  -o-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

#slide3 .c-one-slide__btn--pause {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide3 .c-one-slide__btn--pause .img-box {
  width: 30px;
  height: 30px;
}
#slide3 .c-one-slide__btn--pause .img-box img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
#slide3 .c-one-slide__btn--play {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
#slide3 .c-one-slide__btn--play .img-box {
  width: 30px;
  height: 30px;
}
#slide3 .c-one-slide__btn--play .img-box img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

@keyframes ani-glitter {
  0% {
    border: 2px solid #82ffc9;
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: #fff;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  }
  100% {
    border: 2px solid #82ffc925;
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
}


#slide3 .c-one-slide__btn-list--top {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#slide3 .c-one-slide__btn--top {
  margin: 30px 0;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 10px;
  /* border: 1px solid skyblue; */
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#slide3 .c-one-slide__btn--top.active {
  background-color: #caffe8;
}
#slide3 .c-one-slide__btn--top:hover {
  /* text-shadow: 2px 2px 2px #fff; */
  animation: ani-glitter 1s forwards alternate infinite;
}
#slide3 .c-one-slide__btn-list--custom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
#slide3 .c-one-slide__btn--custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  /* width: 10vw; */
  /* height: 10vw; */
}
#slide3 .c-one-slide__btn--custom .img-box {
  width: 80px;
  height: 80px;
  /* width: 8vw; */
  /* height: 8vw; */
  overflow: hidden;
  border-radius: 50%;
}
#slide3 .c-one-slide__btn--custom.active {
  border: 5px solid #FAD949;
}
#slide3 .c-one-slide__btn--custom .img-box img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
#slide3 .c-one-slide__btn--custom p {
  color: #aaa;
  text-transform: uppercase;
  font-weight: 800;
}
#slide3 .c-one-slide__btn--custom.active p {
  color: #000;
}

@media (max-width: 1000px) {
  #slide3 .c-one-slide__btn-list--custom {
    gap: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-left: 1px #f0f0f0;
  }
  #slide3 .c-one-slide__btn--custom {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin: -1px 0 0 0;
    border: 1px solid #D0D0D0;
    border-left: none;
    border-radius: 0;
    width: 25%;
  }
  #slide3 .c-one-slide__btn--custom.active {
    background-color: #FAD949;
    border: 1px solid #D0D0D0;
    border-left: none;
  }
  #slide3 .c-one-slide__btn--custom .img-box {
    display: none;
  }
}