@charset "utf-8";
#cyBox{max-width:888px;  margin: 0 auto; background-color: #accad4;  border-radius: 10px; padding: 25px;}
#cyBox .inBox{background-color: #ebebeb; padding: 15px;position: relative; border-radius: 10px;}
#cyBox .inBox:before{position:absolute; top: -11px; left: -11px; width: calc(100% + 20px); height: calc(100% + 20px); border: 1px dashed #fff; border-radius: 10px;content: '';}
#cyBox .inBox .lft{float:left; width: 204px; margin-right: 20px;}
#cyBox .inBox .lft .count{text-align: center; margin-bottom: 5px;}
#cyBox .inBox .lft .count p{display:inline-block; font-size: 10px; font-weight: bold;position: relative;}
#cyBox .inBox .lft .count p strong{display: inline-block; margin-right: 5px;}
#cyBox .inBox .lft .count p .today{color:red;}
#cyBox .inBox .lft .count p:first-child{padding-right: 7px;}
#cyBox .inBox .lft .count p:first-child:after{position:absolute; top:0; right:0; width: 1px; height: 100%; background-color: #000;  content: "";}
#cyBox .inBox .lft .lftBox{height: 526px; background: #fff; border-radius: 10px; border: 2px solid #dcdcdc;padding: 30px;position:relative;}
#cyBox .inBox .lft .lftBox .pro_info{margin-top: 25px; line-height: 1.3;}
#cyBox .inBox .lft .lftBox .left_f{position:absolute; width: calc(100% - 60px); bottom: 30px;}
#cyBox .inBox .lft .lftBox .left_f select{ width: 100%; height: 25px; margin-top: 10px; border: 1px solid #d7d7d7; padding: 0 5px;}


#cyBox .inBox .rgh{float:left;width: 505px; position:relative; }
#cyBox .inBox .rgh .top{margin-bottom: 5px; margin-top: 5px;}
#cyBox .inBox .rgh .top .title{float:left; font-size: 16px; font-weight: bold;}
#cyBox .inBox .rgh .top .adrs{float:right; font-size: 11px;margin-top: 5px;}
#cyBox .inBox .rgh .nav{position:absolute; top: 55px; right:-76px;}
#cyBox .inBox .rgh .nav ul li{margin-top: 10px;}
#cyBox .inBox .rgh .nav ul li:first-child{margin-top:0;}
#cyBox .inBox .rgh .nav ul li a{display: block; width:77px; padding: 8px; background-color: #387a9f; color:#fff; font-weight: bold;border-radius: 0 5px 5px 0;}
#cyBox .inBox .rgh .artiBox{background-color: #fff; border-radius: 10px; border: 2px solid #dcdcdc; padding: 15px;}
#cyBox .inBox .rgh .artiBox > div .tit_st{font-size: 17px; color:#407eac; font-weight: 900; letter-spacing: -1px; padding-bottom: 5px; border-bottom: 2px solid #9e9f9f;}
#cyBox .inBox .rgh .artiBox .u_news .lst_news{float:left; width: 35%;}
#cyBox .inBox .rgh .artiBox .u_news .lst_news ul li{margin-top: 3px;position: relative; }
#cyBox .inBox .rgh .artiBox .u_news .lst_news ul li .tag{display:inline-block; width: 45px; font-size: 12px; padding: 4px 0; color:#fff; font-weight: bold; background-color: #ec514e; text-align: center; border-radius: 2px;}
#cyBox .inBox .rgh .artiBox .u_news .lst_news ul li .tag.bbs{background-color: #387a9f;}
#cyBox .inBox .rgh .artiBox .u_news .lst_news ul li p{margin-left: 50px; width: 100%; position: absolute; top:3px; left: 0;}
#cyBox .inBox .rgh .artiBox .u_news .lst_news ul li p a{display: block;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
#cyBox .inBox .rgh .artiBox .q_bbs{float:right; width:50%;} 
#cyBox .inBox .rgh .artiBox .q_bbs ul:after{display:block; clear:both; content: '';}
#cyBox .inBox .rgh .artiBox .q_bbs ul li{float:left; width: 50%;padding: 5px 0;border-bottom: 1px dashed #333; font-size: 12px; font-weight: bold;}
#cyBox .inBox .rgh .artiBox .q_bbs ul li p{display:inline-block; color:#518ac1; font-size: 10px; margin-left: 5px;}
#cyBox .inBox .rgh .artiBox .miniroom{margin-top: 34px;}
#cyBox .inBox .rgh .artiBox .miniroom .roomArea{min-height:310px; background-color: #0098dc; border: 1px solid #a7aeb4; text-align: center; position: relative;}
#cyBox .inBox .rgh .artiBox .miniroom .roomArea img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);    }












