<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="font.css">
  <link rel="stylesheet" href="aside.css">
  <title>aside</title>
</head>

<body>
  <aside class="main-aside">
    <div class="profile-card-row">
      <div class="profile-row">
        <a href="" class="profile-link">
          <div class="profile-img w50 h50 instagram-border">
            <img src="https://img2.quasarzone.com/editor/2022/04/08/ecbd2b60ec7ea4b44cbdbfeee980b8c9.jpg" alt="">
          </div>
        </a>
        <div class="profile-txt">
          <div class="profile-id">siga-ram</div>
          <div class="name">날아라</div>
        </div>
      </div>
      <button class="user-change">전환</button>
    </div>
    <div class="recommend">
      <div class="recommend-all">
        <div class="recommend-all-txt">회원님을 위한 추천</div>
        <button class="recommend-all-btn">모두 보기</button>
      </div>
      <div class="recommend-list">
        <div class="profile-card-row">
          <div class="profile-row">
            <a href="" class="profile-link">
              <div class="profile-img w30 h30 instagram-border">
                <img src="https://t1.daumcdn.net/cfile/tistory/1544E5154B7EC0E907?original" alt="">
              </div>
            </a>
            <div class="profile-txt">
              <div class="profile-id">siga-ram</div>
              <div class="desc">회원님을 위한 추천</div>
            </div>
          </div>
          <button class="follow">팔로우</button>
        </div>
        <div class="profile-card-row">
          <div class="profile-row">
            <a href="" class="profile-link">
              <div class="profile-img w30 h30 instagram-border">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FW2vmz%2FbtruTEz3c2H%2FAUhbzG45dj0DXbNUqnWPKk%2Fimg.jpg" alt="">
              </div>
            </a>
            <div class="profile-txt">
              <div class="profile-id">siga-ram</div>
              <div class="desc">회원님을 팔오우합니다</div>
            </div>
          </div>
          <button class="follow">팔로우</button>
        </div>

        <div class="profile-card-row">
          <div class="profile-row">
            <a href="" class="profile-link">
              <div class="profile-img w30 h30 instagram-border">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FYUElx%2FbtruUm0KIPr%2FKk0biW1yCHJcwnA7zYsS10%2Fimg.jpg" alt="">
              </div>
            </a>
            <div class="profile-txt">
              <div class="profile-id">siga-ram</div>
              <div class="desc">회원님을 팔오우합니다</div>
            </div>
          </div>
          <button class="follow">팔로우</button>
        </div>

        <div class="profile-card-row">
          <div class="profile-row">
            <a href="" class="profile-link">
              <div class="profile-img w30 h30 instagram-border">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdiNWij%2FbtruTENy59W%2FQ1NFtPhzUEkPqQzzAd4bb1%2Fimg.jpg" alt="">
              </div>
            </a>
            <div class="profile-txt">
              <div class="profile-id">siga-ram</div>
              <div class="desc">회원님을 팔오우합니다</div>
            </div>
          </div>
          <button class="follow">팔로우</button>
        </div>

        <div class="profile-card-row">
          <div class="profile-row">
            <a href="" class="profile-link">
              <div class="profile-img w30 h30 instagram-border">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FTqFSA%2FbtruNjb6MVA%2F1HuCIuniWoil2BlZLFgEak%2Fimg.jpg" alt="">
              </div>
            </a>
            <div class="profile-txt">
              <div class="profile-id">siga-ram</div>
              <div class="desc">ilia-ansi님 외 289명이 팔로우합니다</div>
            </div>
          </div>
          <button class="follow">팔로우</button>
        </div>

      </div>
    </div>
  </aside>
</body>

</html>