@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.noto-sans{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

.fs12 {font-size: 12px;}