
.c-top-btn {
  position: fixed;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
.c-top-btn .c-img-box {
  width: inherit;
  height: inherit;
}
.c-top-btn .c-img-box img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}