
.c-top-btn {
  position: fixed;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  transition: .5s;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.c-top-btn .c-img-box {
  width: inherit;
  height: inherit;
}
.c-img-box img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.he-plus-to-arrow {
  display: inline-block;  
  width: 0.5em;
  height: 0.5em;
  position: relative;
  border: 1px solid #000;
}
.he-plus-to-arrow:hover {
  background-color: #FBF131;
}
.he-plus-to-arrow span {
  position: absolute;
  display: inline-block;  
  width: 30%;
  height: 1px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transition: 1s;
  transform: translateX(-50%);
}
.he-plus-to-arrow span:nth-of-type(2) {
  transform: translateX(-50%) rotate(90deg);
}

.he-plus-to-arrow:hover span {
  transform: translateX(-50%) rotate(-25deg);
  transform-origin: right;
}
.he-plus-to-arrow:hover span:nth-of-type(2) {
  transform: translateX(-50%) rotate(25deg);
}